@using DataAccess.Entities
@model List<Account>
@{
    ViewData["Title"] = "Accounts";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Owner Id</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Account account in Model!)
       {
           <tr>
               <td>@account.Id</td>
               <td>@account.OwnerId</td>
               <td>@account.Balance $</td>
               <td><a href="/Accounts/Edit/@account.Id">Edit</a></td>
           </tr>
       }
    </tbody>
</table>

